<%- include('partials/head')%>
  <div class="main_div">
    <div class="stuDetailHead m-1 p-2 rounded-1">
      <h2 class="h2 text-end">
        Timetable
      </h2>
    </div>
    <div class="m-1 text-center">
      <!-- <h3>BSc.COMPUTER SCIENCE</h3>
        <h4>T.Y.B.Sc.C.S. TIMETABLE</h4>
        <h4>2022-2023</h4> -->
      <table class="table table-success table-striped-columns text-center table-bordered">
        <thead>
          <tr>
            <th scope="col">Time</th>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
            <th scope="col">Saturday</th>
          </tr>
        </thead>
        <tbody class="table-group-divider ">
          <tr>
            <th scope="row">07:30-09:10</th>
            <td>WS-P(SK)/CB 102</td>
            <td>INS-P(SR)/CB 102</td>
            <td>-</td>
            <td>AI-P(MK)/CB 102</td>
            <td>-</td>
            <td>STQA-P(R)/CB 102</td>
          </tr>
          <tr>
            <th scope="row">10:00-10:15</th>
            <td>Break</td>
            <td>Break</td>
            <td>Break</td>
            <td>Break</td>
            <td>Break</td>
            <td>Break</td>
          </tr>
          <tr>
            <th scope="row">10:15-11:05</th>
            <td>AI-L(MK)/CB 207</td>
            <td>WS-L(SK)/CB 207</td>
            <td>WS-L(SK)/CB 205</td>
            <td>INS-L(SR)/CB 205</td>
            <td>INS-L(SR)/CB 207</td>
            <td>Project/CB 108</td>
          </tr>
          <tr>
            <th scope="row">11:05-11:55</th>
            <td>GP-L(R)/CB 207</td>
            <td>INS-L(SR)/CB 207</td>
            <td>AI-L(MK)/CB 205</td>
            <td>STQA-L(R)/CB 205</td>
            <td>AI-L(MK)/CB 207</td>
            <td>Project/CB 108</td>
          </tr>
          <tr>
            <th scope="row">11:55-12:45</th>
            <td>WS-L(SK)/CB 207</td>
            <td>GP-L(R)/CB 207</td>
            <td>STQA-L(R)/CB 205</td>
            <td>GP-L(R)/CB 205</td>
            <td>STQA-L(R)/CB 207</td>
            <td>Project/CB 108</td>
          </tr>
          <tr>
            <th scope="row">12:45-03:05</th>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>GP-P(R)/CB 102</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <%- include('partials/navbar')%>

    <%- include('partials/footer')%>