<%- include('partials/head')%>
  <%- include('partials/navbar')%>
    <div class="main_div">
      <div>
        <iframe
          style="background: #FFFFFF;border: none;border-radius: 2px;box-shadow: 0 2px 10px 0 rgba(70, 76, 79, .2);"
          width="640" height="480"
          src="https://charts.mongodb.com/charts-project-0-shhoz/embed/charts?id=631dc426-4b74-46bf-8fa3-65f6930a32fe&maxDataAge=10&theme=light&autoRefresh=false"></iframe>
      </div>
      <%= stuMarks %>
    </div>
    <%- include('partials/footer')%>