</div>
<!-- Bootstrap JavaScripts -->
<script src="/js/bootstrap.js"></script>

<!-- JavaScript login.js -->
<script src="/js/Login.js"></script>


<script src="/js/validateForms.js"></script>
</body>

</html>