<div class="sidebar ">
  <div class="logo_content">
    <div class="logo">
      <i class='bx bxs-hard-hat'></i>
      <div class="logo_name pl-2">Administrator</div>
    </div>
    <i class='bx bx-menu' id="menu_btn"></i>
  </div>
  <ul class="nav_list">
    <li>
      <a href="/teacherdash/home" class="navBtn homeNavBtn">
        <i class='bx bx-grid-alt'></i>
        <span class="link_name ">Home</span>
      </a>
      <span class="tooltip">Home</span>
    </li>
    <li>
      <a href="/teacherdash/students" class="navBtn studentsNavBtn">
        <i class='bx bx-id-card'></i>
        <span class="link_name ">Students</span>
      </a>
      <span class="tooltip">Students</span>
    </li>
    <li>
      <a href="/teacherdash/ClassTimetable" class="navBtn profNavBtn">
        <i class='bx bx-table'></i>
        <span class="link_name ">Timetable</span>
      </a>
      <span class="tooltip">Timetable</span>
    </li>
    <li>
      <a href="/teacherdash/announcement" class="navBtn announceNavBtn">
        <i class='bx bx-podcast'></i>
        <span class="link_name ">Announcements</span>
      </a>
      <span class="tooltip">Announcements</span>
    </li>
    <li>
      <a href="#" class="navBtn announceNavBtn">
        <i class='bx bx-stats'></i>
        <span class="link_name ">Class Analysis</span>
      </a>
      <span class="tooltip">Class Analysis</span>
    </li>
    <li>
      <a href="#" class="navBtn attendNavBtn">
        <i class='bx bxs-book'></i>
        <span class="link_name ">Attendance</span>
      </a>
      <span class="tooltip">Attendance</span>
    </li>
    <li>
      <a href="#" class="navBtn sheduleNavBtn">
        <i class='bx bx-calendar-week'></i>
        <span class="link_name ">Schedules</span>
      </a>
      <span class="tooltip">Schedules</span>
    </li>

    <li>
      <a href="#" class="navBtn profNavBtn">
        <i class='bx bx-user'></i>
        <span class="link_name ">Profile</span>
      </a>
      <span class="tooltip">Profile</span>
    </li>
    <li>
      <a href="#" class="navBtn settNavBtn">
        <i class='bx bxs-cog'></i>
        <span class="link_name ">Settings</span>
      </a>
      <span class="tooltip">Settings</span>
    </li>
    <!-- <li>
      <a href="/login" class="navBtn logNavBtn">
        <i class='bx bx-log-out-circle'></i>
        <span class="link_name ">Log-in</span>
      </a>
      <span class="tooltip">Log-in</span>
    </li> -->
    <li>
      <a href="/register" class="navBtn logNavBtn">
        <i class='bx bx-user-plus'></i>
        <span class="link_name ">Register</span>
      </a>
      <span class="tooltip">Register</span>
    </li>
    <li>
      <a href="/logout" class="navBtn logNavBtn">
        <i class='bx bx-log-out-circle'></i>
        <span class="link_name ">Log-out</span>
      </a>
      <span class="tooltip">Log-out</span>
    </li>
  </ul>
</div>