</div>

<!-- Bootstrap JavaScripts -->
<script src="/js/bootstrap.js"></script>

<!-- Google charts AJAX API loader -->
<!-- <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> -->


<!-- JavaScript of Graph -->
<!-- <script src="/JavaScript/Graph.js"></script> -->

<!-- JavaScript StudentDashboard.js -->
<script src="/js/StudentDashboard.js"></script>
</body>

</html>